.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 16px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.action span {
    margin-top: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    font-size: 2.4rem;
    background: rgba(22, 24, 35, 0.06);
    cursor: pointer;
}

.icon:hover {
    background: rgba(22, 24, 35, 0.1);
}

.liked {
    color: rgb(254, 44, 85);
}
