.nav-list {
    margin-bottom: 8px;
}

.nav-item {
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background: rgba(22, 24, 35, 0.03);
}

.nav-item a {
    text-decoration: none;
    font-size: 2.8rem;
    width: 100%;
    color: #161823;
}

.nav-item a h3 {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-left: 8px;
}

@media (max-width: 1071px) {
    .nav-item a {
        justify-content: center;
    }

    .nav-item a h3 {
        display: none;
    }
}
