.side-bar {
    position: fixed;
    width: 100%;
    max-width: 356px;
    height: 100vh;
    padding-top: 20px;
    padding-left: 8px;
    overflow: auto;
    z-index: 3;
}

.side-bar-wrapper {
    padding: 0 8px;
}

.sign-in-hint {
    position: relative;
    width: 100%;
    padding: 20px 8px 24px 8px;
    margin: 0;
}

.sign-in-hint::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 8px;
    right: 8px;
    background: rgba(22, 24, 35, 0.12);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    top: 0;
}

.hint {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.sign-in-btn {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 168px;
    min-height: 48px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 1071px) {
    .side-bar {
        max-width: 72px;
        padding: 12px 0 0 0;
        border-right: 1px solid rgba(22, 24, 35, 0.12);
        box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    }

    .sign-in-hint {
        display: none;
    }
}
